body{
	margin: 0px;
	padding: 0;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

p{
	font-family: sans-serif;
	margin-top: 0px;
	margin-bottom: 12px;
	font-size: 14px !ie;
}

.container{
	margin: 0px;
	background-color: #3c3c48;
	width: 100vw;
	height: 100vh;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

/*GearClient*/
#gearClient{
	position: fixed;
	width: 10%;
	height: 20%;
	/*background-color: white;*/
	background: url("../img/1.png");
	background-size: 130px 130px;
	background-repeat: no-repeat;
	top: 25%;
	right: 54%;
}

#gearClient>.quoteBox{
	top:-90px;
	right: 90px;
}


div#gearClient:hover div.quoteBox{
	visibility: visible;
  	opacity: 1;
}

/*GearGoverment*/
#gearGoverment{
	position: fixed;
	width: 10%;
	height: 20%;
	background: url("../img/3.png");
	background-size: 130px 130px;
	background-repeat: no-repeat;
	top: 19%;
	right: 37%;
}

#gearGoverment>.quoteBox{
	top:-30px;
	right: -150px;
}


div#gearGoverment:hover div.quoteBox{
	visibility: visible;
  	opacity: 1;
}

/*GearMatreex*/
#gearMatreex{
	position: fixed;
	width: 10%;
	height: 20%;
	background: url("../img/2.png");
	background-size: 130px 130px;
	background-repeat: no-repeat;
	top: 31%;
	right: 45%;
}

#gearMatreex>.quoteBox{
	bottom:-80px;
	left: -300px;
}


div#gearMatreex:hover div.quoteBox{
	visibility: visible;
  	opacity: 1;
}

/*GearConsultant*/
#gearConsultant{
	position: fixed;
	width: 10%;
	height: 20%;
	background: url("../img/4.png");
	background-size: 130px 130px;
	background-repeat: no-repeat;
	top: 43%;
	right: 37%;
}

#gearConsultant>.quoteBox{
	bottom:-70px;
	right: -140px;
	
}


div#gearConsultant:hover div.quoteBox{
	visibility: visible;
  	opacity: 1;
}

/*GearUniversity*/
#gearUniversity{
	position: fixed;
	width: 10%;
	height: 20%;
	background: url("../img/5.png");
	background-size: 130px 130px;
	background-repeat: no-repeat;
	top: 50%;
	right: 48%;
}

#gearUniversity>.quoteBox{
	bottom:-50px;
	left: -300px;
}


div#gearUniversity:hover div.quoteBox{
	visibility: visible;
  	opacity: 1;
}

.quoteBox{
	width: 280px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	padding: 10px;
	text-align: justify;
	color: white;
	position: relative;
	background-color: #333333;
	border-radius: 5px;
	visibility: hidden;
  	opacity: 0;
  	transition: visibility 0s, opacity 1s ease;
}

.penjelasan{
	width: 100%;
}

.boxPenjelasan{
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 60%;
	height: 20%;
	position: fixed;
	left: 20%;
	bottom: 10%;
	text-align: center;
	
}

#tombolKiri{
	cursor: pointer;
	background-color: white;
	width: 50px;
	height: 50px;
	position: fixed;
	bottom: 17%;
	left: 14%;
}

#tombolKanan{
	cursor: pointer;
	background-color: white;
	width: 50px;
	height: 50px;
	position: fixed;
	bottom: 17%;
	right: 14%;
}

#titlePenjelasan{
	font-weight: bold;
}